In [1]:
import sys, os
sys.path.append("../..")

# import gempy
import gempy as gp

# inline figures in jupyter notebooks
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas as pn
from importlib import reload

In [2]:
import gempy.utils.geomodeller_integration as gi

In [3]:
gi

In [4]:
geoM = gi.GeomodellerClass()

In [5]:
geoM.load_geomodeller_file('../../test/GeoModeller/test_d/test_d.xml')

In [6]:
geoM.get_sections()

[<Element '{http://www.geomodeller.com/geo}Section' at 0x0000017568B94868>,
 <Element '{http://www.geomodeller.com/geo}Section' at 0x0000017568B9F188>]

In [7]:
geoM.get_faults()

In [8]:
geoM.faults[0].get("Name")

'f1'

In [9]:
geoM.get_formations()

In [10]:
geoM.formations

[<Element '{http://www.geomodeller.com/geo}Formation' at 0x0000017568B789F8>,
 <Element '{http://www.geomodeller.com/geo}Formation' at 0x0000017568B8C3B8>]

In [11]:
geoM.get_formation_names()

['A', 'B']

In [12]:
geoM.get_fault_names

In [13]:
geoM.get_stratigraphy_list()

['B', 'A']

In [14]:
geoM.get_fault_parameters()

AttributeError: 'GeomodellerClass' object has no attribute 'get_fault_parameters'

In [15]:
geoM.create_formation_dict()

{'A': <Element '{http://www.geomodeller.com/geo}Formation' at 0x0000017568B789F8>,
 'B': <Element '{http://www.geomodeller.com/geo}Formation' at 0x0000017568B8C3B8>}

In [22]:
geoM.create_fault_dict()

{'f1': <Element '{http://www.geomodeller.com/geo}Fault' at 0x7fa938261818>}

In [6]:
geoM.get_model_extent()

(0.0, 10.0, 0.0, 10.0, -10.0, 0.0)

In [31]:
geoM.rootelement.find("{"+geoM.xmlns+"}GeologicalModel").find("{"+geoM.xmlns+"}Extent3D").find("{"+geoM.xmlns+"}ExtentZ").get("Zmin")

'-10.0'

In [33]:
stc =geoM.rootelement.find("{"+geoM.xmlns+"}GeologicalModel").find("{"+geoM.xmlns+"}ProjectStratigraphicColumn")

In [35]:
stc.find("{"+geoM.gml+"}coord")

In [40]:
inter = stc.find("{"+geoM.xmlns+"}Series").find("{"+geoM.xmlns+"}PotentialField").find("{"+geoM.xmlns+"}Points")

In [53]:
p = inter.find("{"+geoM.gml+"}coord").findtext("{"+geoM.gml+"}X")

In [49]:
p.text

'2.0477319587628866059958454570733010768890380859375'

In [51]:
p

'2.0477319587628866059958454570733010768890380859375'

---

# ReadGeoModellerXML class

In [3]:
reload(gp.utils.geomodeller_integration);
gmx = gp.utils.geomodeller_integration.ReadGeoModellerXML('../../test/GeoModeller/test_d/test_d.xml')

The **ElementTree** root of the read-in xml file is accessible via:

In [231]:
gmx.root

**Interfaces** dataframe:

In [10]:
gmx.get_interfaces_df().tail()

              X          Y    Z            formation               series
11306  328362.0  6758890.0  0.0  Fault_Transverse_03  Fault_Transverse_03
11307  337144.0  6751190.0  0.0  Fault_Transverse_03  Fault_Transverse_03
11308  347951.0  6741460.0  0.0  Fault_Transverse_03  Fault_Transverse_03
11309  359483.0  6730450.0  0.0  Fault_Transverse_03  Fault_Transverse_03
11310  364864.0  6725480.0  0.0  Fault_Transverse_03  Fault_Transverse_03

**Orientations** dataframe:

In [18]:
gmx.get_orientation_df().tail()

,X,Y,Z,dip,azimuth,polarity,formation,series
100,354192.0742,6804450.074,-30735.74609,3.56591,228.5130,1,Moho,Moho_Serie
101,289338.0957,6598540.672,-10028.23730,13.75430,51.8948,1,Lower_crust,Lower_crust_Serie
102,398679.2813,6629800.047,-15358.76563,1.27821,156.4510,1,Lower_crust,Lower_crust_Serie
103,307179.2813,6736300.070,-14392.41309,3.72760,62.6046,1,Lower_crust,Lower_crust_Serie
104,354192.0742,6804450.074,-14920.71973,0.18586,289.6310,1,Lower_crust,Lower_crust_Serie

**Extent**:

In [224]:
gmx.extent

(259000.0, 415000.0, 6568000.0, 6848000.0, -45000.0, 500.0)

The **stratigraphic column** as found in the xml (ordered from old to young):

In [225]:
gmx.strat_column

('Moho_Serie',
 'Lower_crust_Serie',
 'Yigarn_Series',
 'Precambrian',
 'Permian',
 'Triassic-Jurassic',
 'Neocomian_Unconformity',
 'Topo_and_bathy_Series',
 'Sea_level_Series')

**Faults** ordered as found in the xml:

In [226]:
gmx.faults

('Fault_01',
 'Fault_02_Beagle',
 'Fault_03_Wedge',
 'Fault_04',
 'Fault_05',
 'Fault_06_Peron',
 'Fault_08_Coomallo',
 'Fault_09',
 'Fault_10_Eneabba',
 'Fault_11',
 'Fault_12_Urella',
 'Fault_13_Darling',
 'Fault_14_Peron',
 'Fault_Transverse_01',
 'Fault_Transverse_02_Abrolhos',
 'Fault_Transverse_03')

Which formations belongs to which series encoded in a dictionary:

In [290]:
gmx.series_distribution

{'Lower_crust_Serie': 'Lower_crust',
 'Moho_Serie': 'Moho',
 'Neocomian_Unconformity': 'Neocomian_Unc',
 'Permian': 'Late_Permian',
 'Precambrian': 'Basement',
 'Sea_level_Series': 'Sea_level',
 'Topo_and_bathy_Series': 'Topo_and_bathy',
 'Triassic-Jurassic': ('Kockatea_Shale',
  'Woodada_Fm',
  'Lesueur_Ss',
  'Eneabba_Fm',
  'Cattamarra_Coal_Measures',
  'Yarragadee_Fm'),
 'Yigarn_Series': 'Yigarn'}

Getting the **fault matrix**, where **1** means the fault stops at the other fault:

In [292]:
print(gmx.get_fault_matrix())

[[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.]
 [ 1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]
 [ 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.]
 [ 0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.]]

In [309]:
gmx.get_order_formations()

['Moho',
 'Lower_crust',
 'Yigarn',
 'Basement',
 'Late_Permian',
 'Kockatea_Shale',
 'Woodada_Fm',
 'Lesueur_Ss',
 'Eneabba_Fm',
 'Cattamarra_Coal_Measures',
 'Yarragadee_Fm',
 'Neocomian_Unc',
 'Topo_and_bathy',
 'Sea_level']

## Dev

In [4]:
gmx.get_order_formations()

['Moho',
 'Lower_crust',
 'Yigarn',
 'Basement',
 'Late_Permian',
 'Kockatea_Shale',
 'Woodada_Fm',
 'Lesueur_Ss',
 'Eneabba_Fm',
 'Cattamarra_Coal_Measures',
 'Yarragadee_Fm',
 'Neocomian_Unc',
 'Topo_and_bathy',
 'Sea_level']

In [21]:
gmx.strat_column

('Moho_Serie',
 'Lower_crust_Serie',
 'Yigarn_Series',
 'Precambrian',
 'Permian',
 'Triassic-Jurassic',
 'Neocomian_Unconformity',
 'Topo_and_bathy_Series',
 'Sea_level_Series')

In [21]:
gmx.series_distribution

{'Fault_01': 'Fault_01',
 'Fault_02_Beagle': 'Fault_02_Beagle',
 'Fault_03_Wedge': 'Fault_03_Wedge',
 'Fault_04': 'Fault_04',
 'Fault_05': 'Fault_05',
 'Fault_06_Peron': 'Fault_06_Peron',
 'Fault_08_Coomallo': 'Fault_08_Coomallo',
 'Fault_09': 'Fault_09',
 'Fault_10_Eneabba': 'Fault_10_Eneabba',
 'Fault_11': 'Fault_11',
 'Fault_12_Urella': 'Fault_12_Urella',
 'Fault_13_Darling': 'Fault_13_Darling',
 'Fault_14_Peron': 'Fault_14_Peron',
 'Fault_Transverse_01': 'Fault_Transverse_01',
 'Fault_Transverse_02_Abrolhos': 'Fault_Transverse_02_Abrolhos',
 'Fault_Transverse_03': 'Fault_Transverse_03',
 'Lower_crust_Serie': 'Lower_crust',
 'Moho_Serie': 'Moho',
 'Neocomian_Unconformity': 'Neocomian_Unc',
 'Permian': 'Late_Permian',
 'Precambrian': 'Basement',
 'Sea_level_Series': 'Sea_level',
 'Topo_and_bathy_Series': 'Topo_and_bathy',
 'Triassic-Jurassic': ('Kockatea_Shale',
  'Woodada_Fm',
  'Lesueur_Ss',
  'Eneabba_Fm',
  'Cattamarra_Coal_Measures',
  'Yarragadee_Fm'),
 'Yigarn_Series': 'Yigarn'}

In [19]:
np.unique(gmx.get_interfaces_df()["series"])

array(['Basement', 'Cattamarra_Coal_Measures', 'Early_Permian',
       'Eneabba_Fm', 'Fault_01', 'Fault_02_Beagle', 'Fault_03_Wedge',
       'Fault_04', 'Fault_05', 'Fault_06_Peron', 'Fault_08_Coomallo',
       'Fault_09', 'Fault_10_Eneabba', 'Fault_11', 'Fault_12_Urella',
       'Fault_13_Darling', 'Fault_14_Peron', 'Fault_Transverse_01',
       'Fault_Transverse_02_Abrolhos', 'Fault_Transverse_03',
       'Kockatea_Shale', 'Late_Permian', 'Lesueur_Ss', 'Lower_crust',
       'Moho', 'Neocomian_Unc', 'Sea_level_Series', 'Topo_and_bathy',
       'Woodada_Fm', 'Yarragadee_Fm'], dtype=object)

In [7]:
gmx.get_order_formations()[::-1]

['Fault_Transverse_03',
 'Fault_Transverse_02_Abrolhos',
 'Fault_Transverse_01',
 'Fault_14_Peron',
 'Fault_13_Darling',
 'Fault_12_Urella',
 'Fault_11',
 'Fault_10_Eneabba',
 'Fault_09',
 'Fault_08_Coomallo',
 'Fault_06_Peron',
 'Fault_05',
 'Fault_04',
 'Fault_03_Wedge',
 'Fault_02_Beagle',
 'Fault_01',
 'Sea_level',
 'Topo_and_bathy',
 'Neocomian_Unc',
 'Yarragadee_Fm',
 'Cattamarra_Coal_Measures',
 'Eneabba_Fm',
 'Lesueur_Ss',
 'Woodada_Fm',
 'Kockatea_Shale',
 'Late_Permian',
 'Basement',
 'Yigarn',
 'Lower_crust',
 'Moho']

In [3]:
geo_data, gmx = gp.create_from_geomodeller_xml('NorthPerthBasin_rev.xml')

Some of the formations given are not in the formations data frame. Therefore, you have to set the seriesorder manually.

In [4]:
geo_data.interfaces

,X,Y,Z,formation,series,order_series,isFault,formation_number,annotations
0,314436.000000,6.776860e+06,-1599.599976,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},0}$"
1,320291.356995,6.705086e+06,-2286.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},1}$"
2,320434.908997,6.700750e+06,-2152.699951,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},2}$"
3,320434.908997,6.700750e+06,-2152.699951,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},3}$"
4,320993.307983,6.695083e+06,-2096.939941,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},4}$"
5,320993.307983,6.695083e+06,-2096.939941,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},5}$"
6,322452.725098,6.692796e+06,-2175.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},6}$"
7,322452.725098,6.692796e+06,-2175.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},7}$"
8,319356.780029,6.700196e+06,-2165.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},8}$"
9,319356.780029,6.700196e+06,-2165.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},9}$"
10,320636.494019,6.698776e+06,-2081.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},10}$"
11,320636.494019,6.698776e+06,-2081.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},11}$"
12,319315.372986,6.698018e+06,-2127.899902,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},12}$"
13,319315.372986,6.698018e+06,-2127.899902,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},13}$"
14,320371.920990,6.698100e+06,-2111.760010,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},14}$"
15,320371.920990,6.698100e+06,-2111.760010,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},15}$"
16,320997.192017,6.699614e+06,-2105.530029,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},16}$"
17,320997.192017,6.699614e+06,-2105.530029,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},17}$"
18,320291.356995,6.705086e+06,-2286.000000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},18}$"
19,310944.094727,6.765857e+06,-2312.060059,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},19}$"
20,320688.206970,6.698183e+06,-2072.100098,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},20}$"
21,321813.026978,6.707122e+06,-2450.120117,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},21}$"
22,313952.893066,6.675338e+06,-573.280029,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},22}$"
23,313952.893066,6.675338e+06,-573.280029,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},23}$"
24,309926.759766,6.729990e+06,-1419.500000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},24}$"
25,309926.759766,6.729990e+06,-1419.500000,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},25}$"
26,317183.263916,6.780431e+06,-1439.099976,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},26}$"
27,317183.263916,6.780431e+06,-1439.099976,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},27}$"
28,299887.474609,6.735050e+06,-1196.050049,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},28}$"
29,299887.474609,6.735050e+06,-1196.050049,Early_Permian,Fault_01,1,True,1,"${\bf{x}}_{\alpha \,{\bf{1}},29}$"
...,...,...,...,...,...,...,...,...,...
11281,290000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},968}$"
11282,285000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},969}$"
11283,280000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},970}$"
11284,275000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},971}$"
11285,270000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},972}$"
11286,265000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},973}$"
11287,259000.000000,6.632000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},974}$"
11288,309999.998047,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},975}$"
11289,304999.999023,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},976}$"
11290,299999.998047,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},977}$"
11291,294999.998047,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},978}$"
11292,290000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},979}$"
11293,285000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},980}$"
11294,290000.000000,6.607000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},981}$"
11295,280000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},982}$"
11296,270000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},983}$"
11297,265000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},984}$"
11298,259000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},985}$"
11299,314999.998535,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},986}$"
11300,309999.998047,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},987}$"
11301,304999.999023,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},988}$"
11302,299999.998047,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},989}$"
11303,294999.998047,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},990}$"
11304,290000.000000,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},991}$"
11305,285000.000000,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},992}$"
11306,280000.000000,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},993}$"
11307,275000.000000,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},994}$"
11308,270000.000000,6.622000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},995}$"
11309,275000.000000,6.627000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},996}$"
11310,265000.000000,6.577000e+06,0.000000,Sea_level,Sea_level_Series,25,False,30,"${\bf{x}}_{\alpha \,{\bf{30}},997}$"